<div class="about-game">
  about game
</div>


{% schema %}
  {
    "name": "About-the-game",
    "tag": "section",
    "class": "about-game",
    "settings": [
      {
        "type": "header",
        "content": "My settings"
      }, {
        "type": "text",
        "id": "message",
        "label": "Message",
        "default": "Hello!"
      }, {
        "type": "textarea",
        "id": "my_second_id",
        "label": "Welcome message",
        "default": "Welcome to my shop!"
      }

    ],
    "blocks": [
      {
        "name": "block",
        "type": "block"
      }
    ],
    "presets": [
      {
        "name": "about-game"
      }
    ]
  }
{% endschema %}