{{ 'game-components.css' | asset_url | stylesheet_tag }}


<div class="game-components">
  <div class="game-components__left-side">
    <div class="title">
      <h2>Game Components</h2>
    </div>
    <div class="about">
      <p>We couldn't agree more! At our core, we believe that high-quality components are essential in creating an exceptional board game experience. That's why we have painstakingly crafted each element of our game with a strong emphasis on quality. From the moment you unbox our game, you'll notice the attention to detail and the superior craftsmanship that went into its creation.
      </p>
      <p>Every piece, whether it's the pewter adventurers, the durable and washable game mat, the meticulously designed cards, or the intricately carved dice, reflects our commitment to providing you with the best possible components. We understand that the tactile sensation and durability of game components significantly contribute to the overall enjoyment of the game. By using high-quality materials and manufacturing processes, we ensure that our pieces are not only visually appealing but also built to withstand countless hours of gameplay.
      </p>
      <p>Moreover, investing in high-quality components enhances the immersive experience. The weight, texture, and aesthetic appeal of the pieces all contribute to creating a sense of immersion, drawing you deeper into the world of the game and enhancing your connection to the gameplay.</p>
    </div>
    <div class="read-more-button">Learn more</div>
  </div>
  <div class="game-components__right-side">
    <div class="pic">
      <img class="" src="{{ 'game-pic.png' | asset_url }}" />

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Game-components",
    "tag": "section",
    "class": "game-components",
    "settings": [
      {
        "type": "header",
        "content": "My settings"
      }, {
        "type": "text",
        "id": "message",
        "label": "Message",
        "default": "Hello!"
      }, {
        "type": "textarea",
        "id": "my_third_id",
        "label": "Welcome message",
        "default": "Welcome to my shop!"
      }

    ],
    "blocks": [
      {
        "name": "block",
        "type": "block"
      }
    ],
    "presets": [
      {
        "name": "game-components"
      }
    ]
  }
{% endschema %}