{{ 'interesting-variants.css' | asset_url | stylesheet_tag }}


<div class="game-rules">
  <div class="game-rules__title">
    <h1>GHOSTS OF UR
      Interesting Variants</h1>
  </div>
  <div class="game-rules__block-continer">
    <div class="block">
      <div class="block__title">
        Draft Variants
      </div>
      <div class="block__info">
        <p>Blind DraftShuffle 
          without looking and place all of the Player Cards back into the burlap bag, and each player draws an Adventurer.</p>
        <p>Eliminated DraftShuffle 
          without looking and place all of the Player Cards back into the burlap bag, and draw the remainder of cards of the number of players subtracted from 6. Example: If there are 4 players, you would remove 2 Player Cards. Place the rest of the cards face up and draft as normal.</p>
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        Gala Master
      </div>
      <div class="block__info">
        <p>The Gala Master (GM) assumes the role of the Gala as in core rules but doesn't play an Adventurer. The GM rolls combat against all Adventures and receives a Nisi Emuq Card upon every win with Kish, Akkadians, Ghosts of Ur, and Nanna. The GM has a card limit of 6 just as the Adventurers do. The GM can use Nisi Emuq Cards from their hand during combat before their defense roll. The GM can also sell Nisi Emuq Cards to Adventures for twice the value of Lapis Lazuli in Equipment Value. Example: A Polished Gem is worth 5 Lapis Lazuli, and an Adventurer can buy it with a total Equipment Value of 10 or more. The GM can win the game by defeating all Adventures as Nanna 3 times each.</p>

      </div>
    </div>


    <div class="block">
      <div class="block__title">
        Team Play
      </div>
      <div class="block__info">
        <p>Adventures play cooperatively or with multiple Adventurers each. The highest roll on the combat dice is still the Gala. In cooperative play, each team consists of 2 or more players. You draft as normal after picking teams. With multiple Adventurers, each player drafts one Adventurer, then you repeat the process. Each team is still limited to 6 cards for both the Nisi Emuq and Discovery Cards, shared between all team members.</p>

      </div>
    </div>

    <div class="block">
      <div class="block__title">
        Ambush
      </div>
      <div class="block__info">
        <p>For every third consecutive roll of 2, you must roll for an Ambush, if you clear the Ambush you move your two as normal and continue to roll your 2's. If you fail to clear the ambush your turn is over.</p>
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        Brodgar Vision
      </div>
      <div class="block__info">
        <p>Brodgar can potshot into all surrounding tiles including the diagonal tiles.</p>
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        Dust Devil
      </div>
      <div class="block__info">
        <p>After moving into AvA combat you may use a Sandstorm and a Vanish Powder to force the defender to retreat.</p>
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        Full Gala Bag
      </div>
      <div class="block__info">
        <p>All of the Ur Mountians are mixed in with all of the other Tiles to be pulled out randomly. In the event that a Adventurer any face down Ur Mountains would be flipped (from Night Vision) and if Nanna is not in play that Adventurer would be caravaned to the nearest Oasis. Play goes as normal once Nanna is in play!</p>
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        Recommence AvA
      </div>
      <div class="block__info">
        <p>If an Adventurer has lost their 3rd attempt with all of the Player Cards, all of the remaining Adventurers have their Player Cards returned. If you are the last Adventurer left in the game when your Player Card is returned, you are automaticly Caravaned to Nanna and must Fight with your current equipment.</p>
      </div>
    </div>

    <div class="block">
      <div class="block__title">
        Capture the Flag
      </div>
      <div class="block__info">
        <p>Setup: Arrange the Tiles using the following diagrams;</p>
      </div>
    </div>

    <div class="block rules">
      <div class="rules-wraper">
        <div class="rules-block">
          <div class="block__title rule-title">
            6 Player Game:
          </div>
          <div class="pic">
            <img class="icon icon-cart-empty" src="{{ 'game-rule-1.png' | asset_url }}" />
          </div>
        </div>
        <div class="rules-block">
          <div class="block__title rule-title">
            5 Player Game:
          </div>
          <div class="pic">
            <img class="icon icon-cart-empty" src="{{ 'game-rule-1.png' | asset_url }}" />
          </div>
        </div>
        <div class="rules-block">
          <div class="block__title rule-title">
            4 or less Player Game:
          </div>
          <div class="pic">
            <img class="icon icon-cart-empty" src="{{ 'game-rule-1.png' | asset_url }}" />
          </div>
        </div>
      </div>

      <div class="block__info">
        <p>
          <span>Objective:</span>
          <br>
          To collect all four Map Cards from Nanna and return them to their respective Ziggurats. <br>
          <span>Rules</span>

          You need to move your Adventurer to Nanna and puchase any map with a Lappis Lazuli Card.
          You move your Adventurer to the corresponding Ziggurat keeping the map with your Adventurer (if you purchased the Water Map you would need to move to Eridu)
                                                                                                                Once you get to the Ziggurat you can turn in the map, you get to keep the map in your hand and cannot lose it.
                                                                                                                You are then caravaned back your your starting Oasis.
                                                                                                                Once you have turned in all four Maps you win the game!</p>
        <p>Your only allowed to purchase one Map at a time and must return it to the corresponding Ziggurat before you can purchase another Map.</p>
        <p>You can lose your Map Card in an AVA battle.You can have more than one Map Card if you recevied it from an AVA battle.
          If you get a Map that you already have either with your Adventurer or in your Hand that is a duplicate, you must discard it.
                                                                                                                  You cannot Caravan or Theft to the Ur Mountains or any of the Ziggurats.Brodgar can use his Pot Shot skill to take Map Cards.
                                                                                                                  Beaker can use his Steal Skill to get Maps from Nanna.</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Interesting variants",
    "tag": "section",
    "class": "interesting-variants",
    "settings": [
      {
        "type": "header",
        "content": "My settings"
      }, {
        "type": "text",
        "id": "message",
        "label": "Message",
        "default": "Hello!"
      }, {
        "type": "textarea",
        "id": "interesting-variants",
        "label": "Welcome message",
        "default": "Welcome to my shop!"
      }

    ],
    "blocks": [
      {
        "name": "block",
        "type": "block"
      }
    ],
    "presets": [
      {
        "name": "interesting-variants"
      }
    ]
  }
{% endschema %}