<div class="main-info-block">
  <div class="main-info-block__pic">
    <img class="" src="{{ 'main-background.png' | asset_url }}" />
  </div>
</div>

{% schema %}
  {
    "name": "Main info block",
    "tag": "section",
    "class": "main-info-block",
    "settings": [
      {
        "type": "header",
        "content": "My settings"
      }, {
        "type": "text",
        "id": "message",
        "label": "Message",
        "default": "Hello!"
      }, {
        "type": "textarea",
        "id": "main-info-block",
        "label": "Welcome message",
        "default": "Welcome to my shop!"
      }

    ],
    "blocks": [
      {
        "name": "block",
        "type": "block"
      }
    ],
    "presets": [
      {
        "name": "Main info block"
      }
    ]
  }
{% endschema %}