<div
  class="my-contacts">
  1234
</div>

{% schema %}
  {
    "name": "Contacts-block",
    "tag": "section",
    "class": "contacts block",
    "settings": [
      {
        "type": "header",
        "content": "My settings"
      }, {
        "type": "text",
        "id": "message",
        "label": "Message",
        "default": "Hello!"
      }, {
        "type": "textarea",
        "id": "",
        "label": "Welcome message",
        "default": "Welcome to my shop!"
      }

    ],
    "blocks": [
      {
        "name": "block",
        "type": "block"
      }
    ],
    "presets": [
      {
        "name": "Contacts-block"
      }
    ]
  }
{% endschema %}