h1 {
  margin: unset;
  margin-bottom: 50px;
}

.adventures {
  background-color: #3d3c3c;
  margin-bottom: 70px;
  padding: 70px 16px;
}
.adventures__title h1 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 83.333% */
}
.adventures .rules-block {
  margin-bottom: 50px;
}
.adventures__block-continer .block {
  border-bottom: solid 1px white;
}
.adventures__block-continer .block__title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
}
.adventures__block-continer .block__info {
  color: #a5a5a5;
  text-align: justify;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 120% */
}
.adventures__block-continer .block__icons {
  margin-bottom: 60px;
}
.adventures__block-continer .block__icons ul {
  display: flex;
  list-style-type: none;
  padding: unset;
  justify-content: space-between;
}
.adventures__block-continer .block__icons ul li {
  display: flex;
  justify-content: center;
  height: 11vw;
}
.adventures__block-continer .block:nth-child(1) {
  margin-bottom: 3px;
}
.adventures__block-continer .block:nth-child(2) {
  border-top: 1px solid #a5a5a5;
}
.adventures__block-continer .with-hero {
  display: flex;
  flex-direction: column;
  padding: 70px 0;
  border-bottom: 1px solid #a5a5a5;
}
.adventures__block-continer .with-hero span {
  font-weight: 700;
}

@media screen and (min-width: 750px) {
  .adventures {
    padding: 95px 35px;
  }
  .adventures__title h1 {
    font-size: 45px;
    line-height: 45px;
  }
  .adventures .with-hero {
    flex-direction: row;
  }
  .adventures .with-hero p {
    margin: unset;
  }
  .adventures .block .hero {
    width: 29%;
    border-right: 1px solid #a5a5a5;
    margin-right: 20px;
    padding-right: 20px;
    height: fit-content;
    display: flex;
  }
  .adventures .block__info {
    width: 69%;
  }
}
@media screen and (min-width: 950px) {
  .adventures {
    padding: 95px 120px;
  }
}