.my-contact {
  margin-top: 95px;
  visibility: hidden;
}

@media screen and (min-width: 750px) {
  .my-contact {
    margin-top: 150px;
  }
}

@media screen and (min-width: 950px) {
  .my-contact {
    margin-top: 70px;
  }
}
