h1 {
  margin: unset;
  margin-bottom: 50px;
}

.game-components-page {
  background-color: #3d3c3c;
  margin-bottom: 70px;
  padding: 70px 16px;
}
.game-components-page__title h1 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 83.333% */
}
.game-components-page__block-continer .block {
  margin-bottom: 60px;
}
.game-components-page__block-continer .block__title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
}
.game-components-page__block-continer .block__info {
  color: #a5a5a5;
  text-align: justify;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 120% */
  margin-bottom: 45px;
}
.game-components-page__block-continer .block__pic {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

@media screen and (min-width: 750px) {
  .game-components-page {
    padding: 95px 35px;
  }
  .game-components-page__title h1 {
    font-size: 45px;
    line-height: 45px;
  }
}
@media screen and (min-width: 950px) {
  .game-components-page {
    padding: 95px 120px;
  }
}