@font-face {
  font-family: "Crom";
  src: url("{{ 'Crom.woff2' | asset_url }}") format("woff2");
}
.main-info-block {
  position: relative;
}
.main-info-block__pic img {
  object-position: 36% 50%;
  object-fit: cover;
  width: 530px;
  height: 530px;
}
.main-info-block__title {
  position: absolute;
}