.main-info-block {
  position: relative;
  &__pic {
    img {
      object-position: 36% 50%;
      object-fit: cover;
      width: 100%;
      height: 530px;
    }
  }

  &__title {
    position: absolute;
    top: 15px;
    text-align: center;
    width: 100%;

    h1 {
      font-family: "Crom";
      font-size: 45px;
    }
  }

  &__sub-title {
    position: absolute;
    top: 30px;
    text-align: center;
    width: 100%;

    font-size: 20px;
    font-weight: 700;
    color: white;
  }

  &__social-icons {
    position: absolute;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    ul {
      max-width: 262px;

      display: flex;
      justify-content: space-around;
      width: 70%;
      align-items: center;

      padding: unset;
      list-style-type: none;
    }
  }
}

@media screen and (min-width: 750px) {
  .main-info-block {
    &__pic {
      img {
        object-position: 50% 0;
        height: 65vw;
      }
    }
    &__title {
      top: -30px;
      h1 {
        font-size: 90px;
      }
    }
    &__sub-title {
      font-size: 30px;
    }

    &__social-icons {
      top: 150px;
      ul {
        max-width: 395px;
      }
      img {
        width: 22px;
      }
    }
  }
}

@media screen and (min-width: 950px) {
  .main-info-block {
    &__pic {
      img {
        // height: unset;
      }
    }

    &__title {
      top: 20px;
    }

    &__sub-title {
      top: 75px;
    }

    &__social-icons {
      top: 190px;
    }
  }
}
