.main-game {
  padding: 0 16px;
  &__left-side {
    background-color: #3d3c3c;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    .pic {
      width: 50%;
    }
  }
}
