.my-btn-style:hover {
  background: #43299f !important;
  box-shadow: unset;
  --border-opacity: unset;
}

.newsletter {
  margin-bottom: 215px;
}
.newsletter .newsletter__wrapper {
  padding: 0 16px;
}
.newsletter #contact_form {
  position: relative;
}
.newsletter #contact_form .field__input {
  border-radius: 5px;
  border: unset;
}
.newsletter #contact_form .field__input::after {
  background: #fff;
}
.newsletter #contact_form #Subscribe {
  position: absolute;
  border-radius: 25px;
  background: #4f2bce;
  color: white;
  top: 58px;
  width: 100%;
  font-size: 15px;
  line-height: 15px; /* 100% */
  letter-spacing: 0.101px;
}

@media screen and (min-width: 750px) {
  .newsletter h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 45px; /* 100% */
  }
  .newsletter #contact_form {
    position: relative;
    max-width: 55rem;
  }
  .newsletter #contact_form .field {
    width: 280px;
  }
  .newsletter #contact_form .field__input {
    border-radius: 5px;
    border: unset;
  }
  .newsletter #contact_form .field__input::after {
    background: #fff;
  }
  .newsletter #contact_form #Subscribe {
    right: -300px;
    position: absolute;
    border-radius: 25px;
    background: #4f2bce;
    top: 58px;
    width: 100%;
    font-size: 15px;
    line-height: 15px; /* 100% */
    letter-spacing: 0.101px;
    top: 0;
  }
}