.newsletter {
  .newsletter__wrapper {
    padding: 0 16px;
  }

  #contact_form {
    position: relative;

    .field__input {
      background: #fff;
      border-radius: 5px;
      border: unset;
    }

    #Subscribe {
      position: absolute;
      border-radius: 25px;
      background: #4f2bce;
      top: 58px;
      width: 100%;

      font-size: 15px;
      line-height: 15px; /* 100% */
      letter-spacing: 0.101px;
    }
  }
}
