.stream-wraper {
  margin-bottom: 130px;
}

.twich {
  margin-bottom: 10px;
}

.twich-block {
  padding: 0 16px;
  position: relative;
}
.twich-block img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.twich-block__pic {
  height: 48vw;
}
.twich-block__pic img {
  border-radius: 30px;
  border: 2px solid #9146ff;
}
.twich-block .steam img {
  border: 3px solid #36729d;
}
.twich-block__title {
  position: absolute;
  width: 112px;
  bottom: 86px;
  left: 50%;
  transform: translate(-50%, 0);
}
.twich-block__button {
  border-radius: 25px;
  background: #9146ff;
  display: flex;
  width: fit-content;
  position: absolute;
  bottom: 41px;
  left: 50%;
  transform: translate(-50%, 0);
}
.twich-block__button a {
  display: block;
  width: fit-content;
  padding: 14px 50px;
  color: #fff;
  font-size: 15px;
  line-height: 15px; /* 100% */
  letter-spacing: 0.101px;
  text-decoration: none;
}
.twich-block .steam-button {
  background-color: white;
}
.twich-block .steam-button a {
  color: black;
}

@media screen and (min-width: 750px) {
  .twich-block__pic {
    max-height: 39vw;
  }
  .twich-block__title {
    width: 269px;
    bottom: 133px;
  }
  .twich-block__button {
    bottom: 74px;
  }
  .twich-block__button a {
    padding: 16px 129px;
  }
}
@media screen and (min-width: 990px) {
  .stream-wraper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  .twich-block {
    padding: unset;
    width: 49.3%;
  }
  .twich-block__pic {
    max-height: 24vw;
  }
  .twich-block__title {
    width: 160px;
    bottom: unset;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
  }
  .twich-block__button {
    bottom: unset;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
  }
  .twich-block__button a {
    padding: 17px 80px;
  }
}