.twich-block {
  padding: 16px;
  position: relative;
  margin-bottom: 130px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__pic {
    height: 48vw;
    img {
      border-radius: 30px;
      border: 2px solid #9146ff;
    }
  }

  &__title {
    position: absolute;
    width: 83px;
    bottom: 86px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__button {
    border-radius: 25px;
    background: #9146ff;
    display: flex;
    width: fit-content;
    position: absolute;
    bottom: 41px;
    left: 50%;
    transform: translate(-50%, 0);

    a {
      display: block;
      width: fit-content;
      padding: 14px 50px;

      color: #fff;
      font-size: 15px;
      line-height: 15px; /* 100% */
      letter-spacing: 0.101px;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 750px) {
  .twich-block {
    &__pic {
      max-height: 39vw;
    }

    &__title {
      width: 269px;
      bottom: 133px;
    }

    &__button {
      bottom: 74px;
      a {
        padding: 16px 129px;
      }
    }
  }
}

@media screen and (min-width: 990px) {
  .twich-block {
    &__title {
      width: 338px;
      bottom: 210px;
    }

    &__button {
      bottom: 132px;
      a {
        padding: 17px 162px;
      }
    }
  }
}
