.stream-wraper {
  margin-bottom: 130px;
}
.twich {
  margin-bottom: 10px;
}

.twich-block {
  padding: 0 16px;
  position: relative;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__pic {
    height: 48vw;
    img {
      border-radius: 30px;
      border: 2px solid #9146ff;
    }
  }

  .steam {
    img {
      border: 3px solid #36729d;
    }
  }

  &__title {
    position: absolute;
    width: 112px;
    bottom: 86px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__button {
    border-radius: 25px;
    background: #9146ff;
    display: flex;
    width: fit-content;
    position: absolute;
    bottom: 41px;
    left: 50%;
    transform: translate(-50%, 0);

    a {
      display: block;
      width: fit-content;
      padding: 14px 50px;

      color: #fff;
      font-size: 15px;
      line-height: 15px; /* 100% */
      letter-spacing: 0.101px;
      text-decoration: none;
    }
  }

  &__button:hover {
    background-color: #2f1751;
  }

  .steam-button:hover {
    background-color: #36729d;
    a {
      color: white;
    }
  }

  .steam-button {
    background-color: white;
    a {
      color: black;
    }
  }
}

@media screen and (min-width: 750px) {
  .twich-block {
    &__pic {
      max-height: 39vw;
    }

    &__title {
      width: 269px;
      bottom: 133px;
    }

    &__button {
      bottom: 74px;
      a {
        padding: 16px 129px;
      }
    }
  }
}

@media screen and (min-width: 990px) {
  .stream-wraper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .twich-block {
    padding: unset;
    width: 49.3%;
    &__pic {
      max-height: 24vw;
    }
    &__title {
      width: 160px;
      // bottom: 125px;

      bottom: unset;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -40%);
    }

    &__button {
      // bottom: 75px;

      bottom: unset;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -60%);
      a {
        padding: 17px 80px;
      }
    }
  }
}
